@media only screen and (max-width: 480px) {

  .headingspaces{
   
      font-size: 24px;
      font-weight: 700;
    
  }
  .databox {
    height: 341px;
    width: 400px;
    border: 0.93px solid rgb(238, 231, 231, 0.8);
    margin: auto;
    gap: 10px;
  }
  .databox{
   margin-top: 15px;
  }
  .datalogo {
    height: 175px;
    width: 296px;
    border-radius: 5px;
  }

  .dlogo {
    text-align: center;
  }

  .dhead {
    display: flex;
  }
  .dheadtext {
    width: 80%;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.78px;
    text-align: left;
  }
  .dheadlogo {
    width: 20%;
    margin: auto;
    text-align: center;
  }
  .logodh {
    height: 30px;
    width: 30px;
    border-radius: 5px;
    border: 1.08px solid rgba(238, 231, 231, 0.8);
  }
  .buttonbox {
    display: flex;
    justify-content: space-around;
    margin-top: 6px;
    font-size: 15px;
    font-weight: 600;
    line-height: 5px;
  }
  .buttonbox > div {
    height: 58px;
    width: 142px;
    border: 0.5px solid rgba(229, 221, 221, 1);
    border-radius: 5px;
  }
  p {
    margin-left: 5px;
  }
  .yellow {
    background-color: #ffbb00;
  }
  .lighttext {
    font-weight: 300;
  }
  .footeradv {
    margin: auto;
  }

  .copyright {
    height: 41px;
    width: 450px;
    background: rgba(34, 46, 52, 1);
    color: white;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 40px;
  }
  .storeapps {
    display: flex;
    justify-content: space-around;
  }
  .bgtext{
    visibility: hidden;
  }
  .bgfooter{
    margin: auto;
    border: solid 1px red;
  }
  .bgtextlogo{
  line-height: 0px;
   
  }
  .storeapps{
    margin: auto;
  }
  .footeradv{
    margin-left: 30px;
  }
}

@media only screen and (min-width: 481px) {
  .dlogo {
    text-align: center;
  }
  .datalogo {
    width: 346px;
    height: 202px;
    border-radius: 6px;
  }

  .headingspaces {
    font-family: Inter;
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0.3px;
    text-align: left;
    margin-left: 35px;
  }

  .databox {
    border: 1.08px solid rgba(238, 231, 231, 0.8);
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    width: 370px;
    height: 385px;
  }
  .bigscreen {
    /* border:solid 1px red; */
    display: grid;
    grid-template-columns: repeat(3, 370px);
    grid-template-rows: repeat(2, 385px);
    column-gap: 0 !important;
    row-gap: 50px;
    justify-content: space-around;
    margin: auto;
    width: 80%;
  }
  /* .bigscreen {
    border: solid 1px red;
    display: flex;
    flex-wrap: wrap;
    flex-basis: content;
    justify-content: space-around;
    gap: 50px 0;
    margin: 50px;
  } */
  .bigscreen > div {
    box-shadow: 0px 1.08px 8.63px 0px rgba(0, 0, 0, 0.06);
    border: 1.08px solid rgba(238, 231, 231, 0.8);

    border-radius: 8px;
  }

  .logodh {
    border-radius: 5px;
  }

  .dhead {
    display: flex;
    height: 20%;
  }
  .dheadtext {
    width: 80%;
  }
  .dheadlogo {
    margin: auto;
  }
  .buttonbox {
    display: flex;
    justify-content: space-around;
  }
  .buttonbox > div {
    border: 1.08px solid rgba(238, 231, 231, 0.8);
    width: 167px;
    height: 66px;
    border-radius: 6px;
    line-height: 5px;
  }

  .yellow {
    background-color: #ffbb00;
  }
  .lighttext {
    font-weight: 300;
  }
  p {
    margin-left: 10px;
  }

  /* footer */

  .download {
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0.3px;
    text-align: left;
    margin-left: 35px;
  }
  .bgfooter {
    /* border:solid 1px red; */
    display: flex;
    justify-content: space-around;
    width: 1200px;
    height: 300px;
    margin: auto;
  }

  .bgtextlogo {
    margin-top: 130px;
    background: rgba(255, 255, 255, 1);
    border: 1px 1px 1px 0 solid rgba(0, 0, 0, 0.08);
    box-shadow: 0px 2px 19px 0px rgba(0, 0, 0, 0.07);
    border-radius: 10px 10px 10px 0;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    text-align: left;
  }

  .storeapps {
    display: flex;
    margin-top: 50px;
    margin-left: 10px;
  }

  .copyright {
   
    background: rgba(34, 46, 52, 1);
    color: white;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 40px;
    width: 100%;


  }
}
